<!DOCTYPE html>
<html>
<head>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body class="p-6 m-0 border-0 bd-example m-0 border-0" style="height: 85px;">

<article>
  <header>
    <p style="position: absolute; top:40px;left:190px; font-size: 1.5rem; color:black ">Ayşegül ÇAĞLAR</p>
<i class="fa-brands fa-facebook-f" style="color: #000000; position:absolute; top:60px; left:1000px;"></i>
<i class="fa-brands fa-twitter" style="color: #000000; position:absolute; top:60px; left:1030px;"></i>
<i class="fa-brands fa-instagram" style="color: #000000; position:absolute; top:60px; left:1070px;"></i>

<form class="d-flex" role="search">

        <input class="form-control " type="search" placeholder="Search.." aria-label="Search">
        <button class="search-button btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
        
    
