<footer class="container-fluid">

  <div class="site-section subscribe bg-light">
    <div class="container-a">
      <form action="#" class="row align-items-center">
        <div class="col-md-5 mr-auto">
          <h2>Newsletter Subcribe</h2>
          <p>

            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendiss
             aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!"
          </p>
        </div>
        <div class="col-md-7 ml-auto">
          <div class="d-flex">
            <input type="email" class="form-control" style="color: white;" placeholder="Enter your email">
            <button type="submit" class=" a-button btn btn-secondary"><i class="fa-solid fa-paper-plane"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-a">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright">
            <p>
              Copyright
              <script>document.wite(new Date().getFullYear());</script>
              2023 All rights reserved | This template is made with
              <i class="fa-solid fa-heart" aria-hidden="true" style="color:red;">

              </i>
              by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>