
<div class="row" style="height:1400px; width:1630px;" >
  <div class="col-4" style="background-color:#a598b3;" >
   <div class="resim" style="background-color: white; width: 300px; height: 300px;  border-radius: 50%; object-fit: cover;  display: block;
   margin-left: 20px;
   margin-right:60px;
   margin: 30px;
   
  justify-content: center;
  align-items: center;">
     <img src="../../assets/profil.jpg" class="yuvarlak" /><br><br>
     <section class="number">
      <br><br>
      <h4 style="color:#4d3d57; text-align: center;">İletişim Bilgileri</h4><br>
      
        <i class="fa-solid fa-phone">Telefon</i>
        <p>05382689254</p>
        <i class="fa-solid fa-envelope">E-posta</i>
        <p>ayysegul.caglar@gmail.com</p>
        <i class="fa-brands fa-github">Github</i>
        <p>github.com/aysegul-caglar</p>
        <i class="fa-solid fa-location-dot">Adres</i>
        <p>Trabzon</p>
   
      <h4 style="color:#4d3d57; text-align: center;">Yabancı Diller</h4><br>
      <i class=" fa-solid fa-globe">İngilizce   B1</i>
     </section>
    
    </div>
  </div>
  <div class="col-8" style="background-color: #fcf9fd;">
    <section class="name">
      <br><br>
      <h3 style="color:#4d3d57; text-align: center;">AYŞEGÜL ÇAĞLAR</h3>
      <h5 style="color:#4d3d57; text-align: center;">BİLGİSAYAR MÜHENDİSİ</h5>
     
  </section><br><br>

    <section class="about "style="text-align: center;">

      <h3 style="color:#4d3d57; height:40px;">Hakkımda</h3>
      <p>
        Ben, bilgisayar mühendisi ve yazılım geliştiriciyim.Frontend alanında çalışıyorum. Teknolojiye olan tutkum ve merakım, beni bilgisayar dünyasında ilerlemeye teşvik etti ve bu alanda kariyer yapmaya yönlendirdi.
         Yazılım dünyasındaki yenilikleri takip etmeyi ve yeni teknolojilerle sürekli kendimi geliştirmeyi amaçlıyorum.
         Hedefim, bilgi ve deneyimlerimi birleştirerek, yenilikçi projelerde yer almak ve teknolojinin günlük yaşamımıza entegrasyonuna katkıda bulunmaktır.
          Ekip çalışmasına uyumlu, sorumluluk sahibi ve öğrenmeye açık bir profesyonel olarak, gelecekteki projelerde daha da büyümeyi hedefliyorum.
      </p>
  </section><br><br><br><br>

  <section class="experience" style="text-align: center;">
      <h3 style="color:#4d3d57;">Eğitimler
        <i class="fa-solid fa-graduation-cap"></i></h3>

        <p>2014-2018</p>
        <h4>Akçaabat Fen Lisesi </h4>
        <p>2019-2023</p>
        <h4>Balikesir Üniversitesi </h4>
        <p>Bilgisayar Mühendisliği</p>

  </section><br>

  <section class="education" style="text-align: center;">
    <h3 style="color:#4d3d57;">Beceriler
      <i class="fa-solid fa-pen-clip"></i></h3>
<h5>C#</h5>
<h5>Java</h5>
<h5>JavaScript</h5>
<h5>React</h5>
<h5>Html,CSS,PHP</h5>
<h5>Angular</h5>

  </section>

  </div>
</div>
