.row h3{
  font-size:20px;
  font-weight:400;
  border-bottom: 1px solid #222;
  position: relative;
  display: inline-block;
}
.section-title-r h3{
  position: absolute;
  top:1737px;
  font-size:20px;
  font-weight:400;
  border-bottom: 1px solid #222;
}
div.col-lg-4{
  position: absolute;
  left: 700px;
 top:1px;
}
div.b-col-lg-4{
  position: absolute;
  left: 700px;
 top:1100px;
}
div.p-col-lg-4{
  position: absolute;
  left: 700px;
 top:1720px;
}
